body{
  background-color: $primary-color;
}
@mixin text($color, $font-size, $margin, $padding){ color: $color;
  font-size: $font-size;
  margin: $margin;
  padding: $padding;

}

.form{
  background-color: $secundary-color;
  @include text(rgb(0, 0, 0), 18px, 0 auto, 5px);
  max-width: 900px;
  
  legend{
    @include text(black, 22px, 0, 5px);
  }

  .organizeItens{
  margin: 5px 10px;
  }

  .text{
  margin: 7px 0px;
  font-size: 20px;
  }

  #btn{
    @include text(white, 18px, 5px 0px, 5px 0px);
    background-color: $btn-color;
    display: block;
  }
}