*{
  background: black url(https://th.bing.com/th/id/R.3fa3a62a7fac83f296a7376a966d03ab?rik=f6%2f0ja%2bZwfDSyA&riu=http%3a%2f%2f1.bp.blogspot.com%2f-vJ9ETn42JH8%2fT7433nkAFlI%2fAAAAAAAAAg4%2fpsmZUbTwhEg%2fs1600%2fSoloppgang.JPG&ehk=v%2bRzGE0BMlHr7sib46n8Qu%2fwKQfhRZOof9TBFzTRu6E%3d&risl=&pid=ImgRaw&r=0) no-repeat center center fixed;
  background-size: cover;
  width: 98vw;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}