@charset "UTF-8";

*{
  padding: 0px;
  margin: 0px;
}

main{
  width: 60vw;
  margin: auto;
}

div.artigos{
  background-color: #fffafa;
  padding: 20px;
}


.artigos > h3 {
  color: #008080;
  font-family: 'Roboto';
  padding: 8px 0px;
}

h1{
  font-family: 'Montserrat';
  padding: 8px 0px;
}

p{
  font-family: 'Open Sans';
  padding: 8px 0px;
}
