*{
  background: black url(https://images.pexels.com/photos/1938351/pexels-photo-1938351.jpeg?cs=srgb&dl=aurora-aurora-boreal-cenario-1938351.jpg&fm=jpg) no-repeat center center fixed;
  background-size: cover;
  width: 98vw;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}