*{
  padding: 0;
  margin: 0;
}

body{
  background: url(https://apliquefacil.vteximg.com.br/arquivos/ids/157535-1000-1000/gy315_papel-de-parede-adesivo-infantil-de-carros.jpg?v=636779783760830000) no-repeat center center fixed;
  background-size: cover;

}