*{
  padding: 0;
  margin: 0;
}

body{
  background: url(https://static.vecteezy.com/ti/vetor-gratis/p3/13247660-machado-espada-e-escudo-medievais-padrao-sem-emenda-textura-da-arma-ornamento-vikings-projeto-para-impressao-elemento-de-papel-de-parede-padrao-quadrado-aleatorio-vetor.jpg) center center fixed;
  background-size: contain;
}