*{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}




header{
  background-color: #666565;
  height: 100px;
  
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 10px 0px 10px;
}


.logo{
  height: 50px;
}



.button{
  background-color: transparent;
  border: 0px;
  cursor: pointer;
  margin-left: 5px;
  color: white;
}










footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 9px 10px 9px 10px;
  background-color: #666565;
  height: 100px;
}

footer > p{
  margin-left: 5px;
  color: white;
}