
body{
  background-color: lightgray;
  font-size: 1.1em;
}

img{
  width: 700px;
  height: 400px;
}

@media (max-width: 720px){
  body{
    background-color: white;
  }
  img{
    width: 100%;
    height: auto;
  }
}